<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=locals.title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="container">
      <h1 id="page-heading">
        <i class="fas fa-address-book"></i>
        My Contact List
      </h1>
      <div>
        <ul>
          <% for(let i of contact_list){ %>
          <li class="contact">
            <div class="details">
              <p><%= i.name%></p>
              <p><%= i.phone%></p>
            </div>
            <div class="delete-button">
              <a href="/delete-contact/?phone=<%= i.phone %>">
                <i class="fas fa-window-close"></i>
              </a>
            </div>
          </li>
          <%}%>
        </ul>
      </div>
      <form action="/create-contact" method="POST">
        <div class="input-field">
          <input
            type="text"
            name="name"
            id=""
            placeholder="Enter name"
            required
          />
          <input
            type="number"
            name="phone"
            id=""
            placeholder="Enter phone"
            required
          />
        </div>
        <button type="submit">Add Contact</button>
      </form>
    </div>
    <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>
